*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;

}

.azul{
    background-color: #0351A6;
    color: white;
}

.cinza-escuro{
    background-color: #999DA3;
    color: white;
}

.cinza-claro{
    background-color: #D9D9D9;
}

.branco{
    background-color: #ffffff;
}

.translate120{
    transform: translateX(120px);
    z-index: 4;
}
.translate90{
    transform: translateX(90px);
    z-index: 3;
}
.translate60{
    transform: translateX(60px);
    z-index: 2;
}
.translate30{
    transform: translateX(30px);
    z-index: 1;
}

.textEnd{
    text-align: end;
}

.textCenter{
    text-align: center;
}




body{
    background-color: #0351A6;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9 ;

}


.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.header-centro{
    display: flex;
    align-items: center;
}

.cards-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-header {

    padding: 10px;
    border-radius: 20px;
    width: 210px;
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.cards {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
    gap: 18px;
}


.titulo-card {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #9EC5E8;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
}

textarea {
    height: 90px;
    resize: none;
}


.input-data {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.cancelar {
    width: 48%;
    background: #EB5757;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.prosseguir {
    width: 48%;
    background: #2F80ED;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.prosseguir a{
    color: white;
    text-decoration: none;
}

.cancelar:hover,
.prosseguir:hover {
    opacity: 0.85;
}
