*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;

}

.azul{
    background-color: #0351A6;
    color: white;
}

.cinza-escuro{
    background-color: #999DA3;
    color: white;
}

.cinza-claro{
    background-color: #D9D9D9;
}

.branco{
    background-color: #ffffff;
}

.translate120{
    transform: translateX(120px);
    z-index: 4;
}
.translate90{
    transform: translateX(90px);
    z-index: 3;
}
.translate60{
    transform: translateX(60px);
    z-index: 2;
}
.translate30{
    transform: translateX(30px);
    z-index: 1;
}

.textEnd{
    text-align: end;
}

.textCenter{
    text-align: center;
}




body{
    background-color: #0351A6;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9 ;

}


.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.header-centro{
    display: flex;
    align-items: center;
}

.cards-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-header {

    padding: 10px;
    border-radius: 20px;
    width: 210px;
}


.titulo{
    display: flex;
    margin-top: 30px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    color: white;
}

.secao2{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    color: white;
    font-size: 1.5rem;
}

.secao2 a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.botoes{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-around;
    gap: 10px;
}
.card button{
    cursor: pointer;
    font-size: 1rem;
    border:  none;
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.card a{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Gabarito', sans-serif;

}


.editar{
     background-color:orange;
}

.excluir{
    background-color:red;
}

.ver-resultados{
    width: 98%;
    background-color: dimgrey;
}