*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
    
}

a{
    text-decoration: none;
    color: white;
}

.preto{
    color: black;
}

.textoBranco{
    color: white;
}

.azul{
    background-color: #0351A6;
    color: white;
    z-index: 4;
}

.cinza-escuro{
    background-color: #999DA3;
    z-index: 3;
}

.cinza-claro{
    background-color: #D9D9D9;
    color: black;
    z-index: 2;
}

.branco{
    background-color: #ffffff;
    z-index: 4;
}

.vermelho{
    background-color: #941111;
}

.translate120{
    transform: translateX(120px);
}
.translate90{
    transform: translateX(90px);
}
.translate60{
    transform: translateX(60px);
}
.translate30{
    transform: translateX(30px);
}

.textEnd{
    text-align: end;
}

.textStart{
    text-align: start;
}

.textCenter{
    text-align: center;
}


body{
    background-color: #0351A6;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9 ;

}


.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.header-centro{
    display: flex;
    align-items: center;
}

.titulo{
    display: flex;
    margin-top: 30px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    color: white;
}

.secao2{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    color: white;
    font-size: 1.5rem;
}

.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.card a{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: 'Gabarito', sans-serif;

}

.editar{
     background-color:orange;
}

.excluir{
    background-color:red;
}

.ver-resultados{
    width: 98%;
    background-color: dimgrey;
}