*{
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 20px;
    background-color: #D9D9D9 ;
}

a{
    color: white;
    text-decoration: underline white;
}
.container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: 100vh;
    background-color: #0351A6;
}

.titulo{
    display: flex;
    align-items: center;
    font-family: "Gabarito", sans-serif;
}

.titulo_cadastro{
    margin: 20px;
    font-size: 2.5rem;
    font-weight: 800;
}

form{
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid #160EA2;
    font-family: "Manrope", sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;
}
label{
    font-family: "Manrope", sans-serif;
}
select{
    width: 300px;
}

.entrar{
    font-size: 1.1rem;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    margin-top: 30px;
    left: 30%;
    border: 2px solid #160EA2;

}





