*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
    
}

a{
    text-decoration: none;
    color: white;
}

.preto{
    color: black;
}

.textoBranco{
    color: white;
}

.azul{
    background-color: #0351A6;
    color: white;
    z-index: 4;
}

.cinza-escuro{
    background-color: #999DA3;
    z-index: 3;
}

.cinza-claro{
    background-color: #D9D9D9;
    color: black;
    z-index: 2;
}

.branco{
    background-color: #ffffff;
    z-index: 4;
}

.vermelho{
    background-color: #941111;
}

.translate120{
    transform: translateX(120px);
}
.translate90{
    transform: translateX(90px);
}
.translate60{
    transform: translateX(60px);
}
.translate30{
    transform: translateX(30px);
}

.textEnd{
    text-align: end;
}

.textStart{
    text-align: start;
}

.textCenter{
    text-align: center;
}


body{
    background-color: #0351A6;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9 ;

}


.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.header-centro{
    display: flex;
    align-items: center;
}

.cards-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-header {

    padding: 10px;
    border-radius: 20px;
    width: 210px;
}


.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-cadastro{
    display: flex;
    background-color: #E9E3E3;  
    justify-content: center;
    width: 70%;
    height: 300px;
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    width: 100%;
    gap: 20px;
}

.linha{
    display: flex;
    margin-left: 30px;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 20px;

}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grow{
    width: 300px;
}

.botao{
    align-self: end;
    padding-right: 50px;
}

input{
    border-radius: 5px;
    border: 2px solid #3CA1E9;
    height: 25px;
    padding: 10px;

}

.select-group{
    display: flex;
    gap: 10px;
}

select{
    background-color: white;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #160EA2;
}

.botao button{
    font-size: 1rem;
    padding: 10px;
    border-radius: 15px;
    background-color: #1F18AB;
    border: none;
    color: white;
}


.tabela{

    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    border-radius: 10px;
    align-items: center;
    margin-top: 30px;
    width: 50%;
}


.titulo-tabela{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titulo-tabela h3{
    align-self: start;
    margin-left: 20px;
}

div.alunos{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

div.aluno{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    background-color: #D9D9D9;
    border-radius: 50px;
}

.acaoAluno button{
    color: white;
    font-size: 1rem;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;

}

.infoAluno{
    display: flex;
    gap: 5px;
}

.editar{
    background-color: #efb907;
}
.deletar{
    background-color: #FF0000;
}