*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;

}

.azul{
    background-color: #0351A6;
    color: white;
}

.cinza-escuro{
    background-color: #999DA3;
    color: white;
}

.cinza-claro{
    background-color: #D9D9D9;
}

.branco{
    background-color: #ffffff;
}

.vermelho{
    background-color: #941111;
}

.translate120{
    transform: translateX(120px);
    z-index: 4;
}
.translate90{
    transform: translateX(90px);
    z-index: 3;
}
.translate60{
    transform: translateX(60px);
    z-index: 2;
}
.translate30{
    transform: translateX(30px);
    z-index: 1;
}

.textEnd{
    text-align: end;
}

.textCenter{
    text-align: center;
}




body{
    background-color: #0351A6;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9 ;

}


.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.header-centro{
    display: flex;
    align-items: center;
}

.cards-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-header {

    padding: 10px;
    border-radius: 20px;
    width: 210px;
}



.titulo{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 120px;
}

input{
    padding: 10px;
}
.selects{
    display: flex;
    gap: 120px;
}

.input_group, .select_group{
    font-size: 1.2rem;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 15px;
}

.select_group{
    flex-direction: row;
    gap: 10px;
}

select{
    width: 200px;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid #160EA2;
    background-color: white;
}


.input_style{

    border: 2px solid #3CA1E9;
    height: 30px;
    border-radius: 10px;
}

.grow{
    width: 300px;
}

.checkbox{
    height: 30px;
}

.buttons{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 20px;
}

button{
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    border: none;
}

a{
    text-decoration: none;
    color: white;

}