*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
    
}

a{
    text-decoration: none;
    color: white;
}

.preto{
    color: black;
}

.branco{
    color: white;
}

.azul{
    background-color: #0351A6;
    color: white;
    z-index: 4;
}

.cinza-escuro{
    background-color: #999DA3;
    z-index: 3;
}

.cinza-claro{
    background-color: #D9D9D9;
    color: black;
    z-index: 2;
}

.branco{
    background-color: #ffffff;
    z-index: 1;
}

.vermelho{
    background-color: #941111;
}

.translate120{
    transform: translateX(120px);
}
.translate90{
    transform: translateX(90px);
}
.translate60{
    transform: translateX(60px);
}
.translate30{
    transform: translateX(30px);
}

.textEnd{
    text-align: end;
}

.textStart{
    text-align: start;
}

.textCenter{
    text-align: center;
}


body{
    background-color: #0351A6;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #E9E9E9 ;

}


.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.header-centro{
    display: flex;
    align-items: center;
}

.cards-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-header {

    padding: 10px;
    border-radius: 20px;
    width: 210px;
}



.titulo{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section, .second-section, .third-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 50px;
}


.third-section{

    justify-content: start;
    margin-top: 20px;
}


.requisitos{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.adicionar-requisito{
    display: flex;
    align-items: center;
    gap: 20px;
}

.adicionar{
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 10px;
}

.pre-requisitos{
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    justify-self: start;
    align-self: flex-start;
}

.card-requisitos{

    background-color: #D9D9D9;
    border: 2px solid #3CA1E9;
    border-radius: 20px;
    height: 150px;
    opacity: 62%;

}

.labelUnidade{
    color: white;
    padding-right: 10px;
}

.tipoUnidade{
    height: 30px;
    width: 120px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}   

textarea{
    width: 100vh;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;

}

input{
    padding: 10px;
}


.input_group{
    font-size: 1.2rem;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 15px;
}


.input_style{

    border: 2px solid #3CA1E9;
    height: 30px;
    border-radius: 10px;
}

.grow{
    width: 300px;
}

.buttons{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 20px;
}

button{
    padding: 15px;
    border-radius: 15px;
    font-size: 1.2rem;
    border: none;
}

