*{
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 20px;
    background-color: #D9D9D9 ;
}

.cadastro-container{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    background-color: #0351A6; /* Cor de fundo azul forte */
}

.titulo{
    display: flex;
    align-items: center;
    font-family: "Gabarito", sans-serif;
}

.titulo_cadastro{
    margin: 20px;
    font-size: 2.5rem;
    font-weight: 800;
}

.titulo a{
    color: white;
    text-decoration: underline white;
}

form{
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.grupo-esquerdo, .grupo-direito{
    display: flex;
    flex-direction: column;
    gap: 10px;    

}

.grupo-esquerdo{
    padding-right: 30px;
}

input, select{

    width: 500px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 5px;
    border: 2px solid #160EA2;
    font-family: "Manrope", sans-serif;

}
label{
    font-family: "Manrope", sans-serif;

}
select{
    width: 300px;
}

.cadastrar button{
    font-size: 1.1rem;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    position: relative;
    left: 66%;
    border: 2px solid #160EA2;

}





