*{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9 ;

}

.imagem{
    height: 130px;
    padding: 20px;
}

.header-direito{
    display: flex;
    align-items: center;
}
.header-direito button{
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
}

.container{
    display: flex;
    justify-content: center;
    background-color: #0351A6;
    padding: 20px;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    background-color: #F1F1F1 ;
}

.pesquisas{
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: "Gabarito", sans-serif ;
}

.pesquisas a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
}

.redirect{
    margin-left: 10px;
}

