*{
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 150px;
    padding: 20px;
    background-color: #D9D9D9 ;
}

.container{
    height: 100vh;
    background-color: #0351A6;

}